@use './variables' as *;
@use './reset';
@use './grid';

@use 'shared/components/header';
@use 'shared/components/footer';
@use 'shared/components/logo';
@use 'features/auth/login-form';

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);

  a {
    text-decoration: none;
  }

  .main {
    flex: 1;
  }
}
