@use './variables' as *;
@use './reset';
@use './grid';
@use 'features/auth' as *;
@use 'shared/components/header' as *;

@use 'shared/components/footer';
@use 'shared/components/logo';

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);

  a {
    text-decoration: none;
  }

  .main {
    flex: 1;
  }
}
