@use 'sass:math';
@use './mixins' as mixins;

$grid-columns: 12;
$gutter: var(--space-4);

$breakpoint-names: sm, md, lg, xl, xxl;

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

.container-fluid {
  width: 100%;
  padding-left: $gutter;
  padding-right: $gutter;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(#{$gutter} / -2);
  margin-right: calc(#{$gutter} / -2);
}

[class^='col-'],
[class*=' col-'] {
  box-sizing: border-box;
  padding-left: calc(#{$gutter} / 2);
  padding-right: calc(#{$gutter} / 2);
}

.col {
  flex: 1 0 0;
}

// Default columns
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    flex: 0 0 math.percentage(calc($i / $grid-columns));
    max-width: math.percentage(calc($i / $grid-columns));
  }
}

// Default offsets
@for $i from 0 through $grid-columns {
  .offset-#{$i} {
    margin-left: math.percentage(calc($i / $grid-columns));
  }
}

// Responsive columns and offsets
@each $breakpoint in $breakpoint-names {
  @include mixins.respond($breakpoint) {
    @for $i from 1 through $grid-columns {
      .col-#{$breakpoint}-#{$i} {
        flex: 0 0 math.percentage(calc($i / $grid-columns));
        max-width: math.percentage(calc($i / $grid-columns));
      }
    }

    @for $i from 0 through $grid-columns {
      .offset-#{$breakpoint}-#{$i} {
        margin-left: math.percentage(calc($i / $grid-columns));
      }
    }
  }
}
