@use '../../variables/radius' as *;
@use '../../variables/shadows' as *;

.auth-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-48);
  width: 100%;
  max-width: 683px;
  padding: var(--space-48);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border-radius: $radius-32;
  box-shadow: $shadow-secondary;

  .features-info {
    font-size: var(--space-20);
    color: var(--text-primary);
    margin-bottom: var(--space-60);
  }

  .title-subtitle {
    text-align: center;

    h2 {
      line-height: 40px;
      font-family: 'Space Grotesk', sans-serif;
      font-size: var(--font-3xl);
      font-weight: var(--font-semibold);
      margin: 0 0 var(--space-10);
    }

    p {
      line-height: 24px;
      color: var(--text-secondary);
    }
  }
}
