@use '../../variables/radius' as *;

.auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
  margin: var(--space-24) 0 0;
  padding: var(--space-16) 0;
  color: var(--text-primary);
  border: none;
  border-radius: $radius-12;
  background: linear-gradient(90deg, #6f1df5 0%, #9967ff 100%);
  box-shadow:
    0 4px 6px -4px #d2bbff33,
    0 10px 15px -3px #d2bbff33;

  transition:
    background 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.1s ease;

  &:hover {
    background: linear-gradient(90deg, #7b32f6 0%, #a77bff 100%);
    box-shadow:
      0 4px 6px -4px #d2bbff44,
      0px 10px 15px -3px #d2bbff44;
  }

  &:active {
    background: linear-gradient(90deg, #5f16d8 0%, #8a5bef 100%);
    box-shadow:
      0 2px 4px -2px #d2bbff33,
      0px 5px 10px -3px #d2bbff33;

    transform: translateY(1px);
  }

  .text {
    font-family: Inter, sans-serif;
    font-size: var(--font-md);
    letter-spacing: 0.28px;
  }
}
