.auth-switch {
  display: flex;
  align-items: center;
  gap: var(--space-10);

  &.card-context {
    .text,
    .link {
      line-height: 24px;
    }

    .text {
      color: var(--text-secondary);
    }

    .link {
      color: var(--accent);
      font-weight: var(--font-bold);

      &:hover {
        color: var(--accent-hover);
      }

      &:active {
        color: var(--accent-active);
        transform: translateY(1px);
      }
    }
  }
}
