.divider {
  display: flex;
  align-items: center;
  margin: var(--space-48) 0 0;
  gap: var(--space-16);

  span {
    font-weight: var(--font-semibold);
    font-size: var(--font-md);
    color: #958DA1;
  }

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 2px;
    background: #4A44554D;
  }
}
