:root {
  --bg-primary: #060E20;
  --bg-secondary: #0B1326;
  --surface: #171F33;
  --surface-secondary: #222A3D;

  --primary: #7C3AED;
  --primary-hover: #8577ff;

  --secondary: #D2BBFF;

  --accent: #4CD7F6;
  --accent-active: #00b8e6;

  --success: #10B981;
  --warning: #F59E0B;
  --error: #FF442E;

  --text-primary: #FFFFFF;
  --text-secondary: #CCC3D8;

  --border: rgba(255, 255, 255, 0.08);

  --gradient-primary: linear-gradient(135deg, #6c5ce7 0%, #00d2ff 100%);
  --gradient-dark: linear-gradient(180deg, #111827 0%, #1f2937 100%);
}
