@use '../../../variables/radius' as *;

.guest-nav-right {
  display: flex;
  align-items: center;
  gap: var(--space-16);

  .login {
    font-size: var(--font-sm);
    color: var(--text-primary);
    font-weight: var(--font-medium);
    line-height: 20px;

    &:hover {
      color: var(--accent);
    }

    &:active {
      color: var(--accent-active);
      transform: translateY(1px);
    }
  }
}
