.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;
    border: 0.5px;

    .nav {
      display: flex;
      gap: 1rem;

      a {
        color: var(--text);

        &:hover {
          color: var(--accent);
        }

        &:active {
          color: var(--accent-active);
          transform: translateY(1px);
        }
      }
    }
  }
}
