@use '../../../variables/radius' as *;

.input-field-wrapper {
  .label-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-8);

    label {
      line-height: 28px;
      color: var(--text-secondary);
    }
  }

  .input-field-container {
    padding: var(--space-14) var(--space-16);
    background: var(--surface-secondary);
    border: 1px solid #ffffff17;
    border-radius: $radius-12;

    input {
      width: 100%;
      font: var(--font-md);
      color: var(--text-primary);
      background: none;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}
