@use '../../../variables/radius' as *;

.input-field-wrapper {
  .label-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-8);

    label {
      line-height: 28px;
      color: var(--text-secondary);
    }
  }

  &:not(.input-field-password-login) {
    .input-field-container {
      display: flex;
      align-items: center;
      gap: var(--space-12);
    }
  }

  .input-field-container {
    padding: var(--space-14) var(--space-16);
    background: var(--surface-secondary);
    border: 1px solid #ffffff17;
    border-radius: $radius-12;

    input {
      width: 100%;
      font: var(--font-md);
      color: var(--text-primary);
      background: none;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  &.input-field-email {
    margin-bottom: var(--space-24);
  }

  &.input-field-password-login {
    .input-field-container {
      display: flex;
      align-items: center;

      > img {
        margin-right: var(--space-12);
      }

      .eye-icon {
        svg {
          cursor: pointer;

          &:hover {
            color: #ddd6e5;
          }

          &:active {
            color: #b8acca;
            transform: translateY(1px);
          }
        }
      }
    }

    .link {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.28px;
      color: var(--secondary);

      &:hover {
        color: var(--secondary-hover);
      }

      &:active {
        color: var(--secondary-active);
        transform: translateY(1px);
      }
    }
  }
}
